*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    width: 100vw;
    height: 100vh;
    font-size: medium;
    background: #161616;
}

.container{
    width: 50%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #424242;
    border-radius: 5px;
}
.form--control{
    margin: 10px;
}
.input--group{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5px;
}

.input--group input[type=text], .input--group input[type=password], .input--group input[type=email]{
    width: 70%;
    margin-left: 20px;
    background: #2E2E2E;
    border: 2px solid #505050;
    color: white;
}

.policy{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form--control input[type=checkbox]{
    margin-right: 5px;
}

.form--control button{
    padding: 10px;
    background: #888888;
    border: 0;
    color: #CECECE;
    font-size: large;
    font-style: italic;
    font-weight: bold;
}
.form--heading{
    position: relative;
    padding: 5px;
    z-index: 1;
}
.form--heading::after{
    content: "";
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.5;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
}
h2{
    border-bottom: 2px solid white;
}

a{
    color: white;
}


.container::after{
    content: "";
    background: red;
    z-index: -1;
    width: 100px;
    height: 200px;
    position: absolute;
    top: 10px;
    left: 60px;
    transform: rotate(40deg);
}
b{
    color: red;
}